@using Blogifier.Core.Common
@{
    var themeFolder = "blogifier/blog/AngularMaterial";
    var menubarView = string.Format("~/Views/{0}/_Shared/_Menubar.cshtml", themeFolder);
}
@if (false)
{
<md-toolbar style="position: relative; background-color: transparent;" ng-show="!$mdMedia('gt-md')">
    <md-toolbar class="md-menu-toolbar menu-gradient header-toolbar">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="openSidenav('left-menu')" ng-hide="$mdMedia('gt-md')">
                <md-tooltip>Menu</md-tooltip>
                <md-icon>menu</md-icon>
            </md-button>
            <h2 flex md-truncate ng-click="sidenavNavigate('left-menu', 'home', { page: '1' })" style="cursor: pointer; user-select: none;" tabindex="-1"><span class="header-toolbar-title" ng-hide="$mdMedia('gt-md')">@ApplicationSettings.Title</span></h2>
        </div>
    </md-toolbar>
</md-toolbar>
}
<div class="blog-header">
    <hr />
    <h1 ui-sref="home({ page: '1' })" tabindex="-1">&nbsp;@ApplicationSettings.Title</h1>
    <hr />
</div>
<div class="blog-description">
    @ApplicationSettings.Description;
</div>
@Html.Partial(menubarView)