<div flex layout="row" layout-align="start stretch" ui-sref="post({ slug: postListItemCtrl.post.slug })" class="post-item-wrapper">
    <div flex="30" style="overflow: hidden;">
        <div class="post-item-image" style="background-image: url('{{postListItemCtrl.post.image}}')" />
    </div>    
    <h1 flex>
        <span class="post-item-text-bg"></span>
        <span class="post-item-title">{{postListItemCtrl.post.title}}</span>
        <span class="post-item-description">{{postListItemCtrl.post.content}}</span>
    </h1>
</div>