<div layout="column" flex style="width: 100%" ng-cloak class="post-list">
    <p ng-show="postsListCtrl.header" class="post-list-header">
        {{postsListCtrl.header}}
    </p>
    <div class="post-list-items">
        <md-grid-list
            md-cols="2" md-cols-gt-sm="4"
            md-row-height="2:1" md-row-height-gt-sm="3:2"
            md-gutter="2em" md-gutter-gt-sm="5em" >
            <md-grid-tile md-rowspan="2" md-colspan="2" ng-repeat="post in postsListCtrl.featuredPosts">
                <post-list-item-featured post="post" class="post-item featured-post-item" />
            </md-grid-tile>
            <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-gt-sm="4" ng-repeat="post in postsListCtrl.posts">
                <post-list-item post="post" class="post-item" />
            </md-grid-tile>
            <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-gt-sm="4" ng-show="postsListCtrl.moreUrl">
                <div layout="row" layout-align="center center">
                    <md-button id="show-more-posts" ng-click="postsListCtrl.showMore()" style="max-width: 150px;" ng-show="postsListCtrl.state != 'more'">
                        <div layout="row">
                            <span>Show More Posts</span>
                            <md-icon>skip_next</md-icon>
                        </div>
                    </md-button>
                    <md-progress-circular md-mode="indeterminate" ng-show="postsListCtrl.state == 'more'"></md-progress-circular>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>