body, html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 959px) {
    /* layout sm limit*/
    body, html {
        font-size: 12px;
    }
}

@media screen and (max-width: 599px) {
    /* layout xs limit*/
    body, html {
        font-size: 10px;
    }
}

* {
    position: relative;
    box-sizing: border-box;
}

md-nav-bar * {
    position: static;
}

.blog-wrapper {
    min-height: 100%;
    width: 100%;
}

.load-progress {
    margin: 5em 0;
}

.content-wrapper {
    margin: 0 auto; 
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

[ui-view].ng-enter {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

[ui-view].ng-leave {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.menu-gradient {
    background-color: #dddddd;
    background: linear-gradient(-45deg, #cccccc, #dddddd, #eeeeee, #ffffff);
    color: white;
    background-size: 200% 200%;
}

    .menu-gradient .md-button, .menu-gradient md-icon {
        color: #333333 !important;
    }

.animated-gradient {
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

.header-toolbar {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

    .header-toolbar .header-toolbar-title {
        color: white;
    }

.header-wrapper {
    text-align: center;
}

    .header-wrapper .blog-header {
        text-align: center;
        letter-spacing: 1.5em;
        font-weight: bold;
        font-size: 1.5em;
        display: inline-block;
    }

        .header-wrapper .blog-header hr {
            width: 0;
            opacity: 0;
            border-color: lightgray;
        }

        .header-wrapper .blog-header h1 {
            cursor: pointer;
            user-select: none;
            margin: 0.3em;
            display: inline-block;
        }

    .header-wrapper .blog-description {
        text-align: center;
        color: gray;
        opacity: 0;
        padding-bottom: 1em;
    }

.nav-menu {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    z-index: 60;
}
    .nav-menu header {
        cursor: pointer;
        padding: 32px 16px;
    }

        .nav-menu header img {
            width: 100%;
            border: none;
        }

        .nav-menu header h1 {
            color: white;
            font-size: 1.5em;
            display: block;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.1em;
        }

    .nav-menu md-list menu-toggle .menu-toggle-header, .nav-menu md-list .md-subheader {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.54);
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    .nav-menu md-list menu-toggle .md-toggle-icon {
        display: block;
        margin-left: auto;
        speak: none;
        vertical-align: middle;
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }

        .nav-menu md-list menu-toggle .md-toggle-icon.toggled {
            transform: rotate(0deg);
        }

    .nav-menu md-list .menu-toggle-list {
        overflow: hidden;
        z-index: 1;
        height: 0;
    }

    .nav-menu md-list md-icon {
        color: white;
    }

.post-list {
    margin: 1em auto 0 auto;
    padding: 16px;
}

    .post-list .post-list-header {
        text-align: center;
        font-style: italic;
    }

.post-item {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
}

    .post-item .post-item-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #eeeeee;
        transition: all 300ms ease-out;
    }

    .post-item:hover .post-item-wrapper {
        background-color: #cccccc;
    }

    .post-item .post-item-image {
        transition: all 300ms ease-out;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .post-item:hover .post-item-image {
        transform: scale(1.1);
        opacity: 0.8;
    }

    .post-item h1 {
        margin: 0;
        padding: 0.5em 0.5em 0.5em 2em;
        font-size: 1.5em;
        width: 100%;
        min-height: 30%;
    }

    .post-item.featured-post-item h1 {
        padding-left: 0.5em;
    }

        .post-item h1 .post-item-title {
            color: #333333;
            display: block;
            margin-bottom: 0.3em;
        }

        .post-item h1 .post-item-description {
            color: #666666;
            font-size: 0.8em;
            display: block;
        }

        .post-item h1 .post-item-text-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(250, 250, 250, .75);
        }

        .post-item:hover h1 .post-item-title {
            text-decoration: underline;
        }

.post {
    font-size: 1.2em;
}

    .post .post-header {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
    }

        .post .post-header .post-header-text-wrapper {
            padding: 1em 2em;
            width: 100%;
        }

            .post .post-header .post-header-text-wrapper .post-header-text-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.75);
            }

            .post .post-header .post-header-text-wrapper .post-title {
                margin: 0.6em 0 0 0;
            }

            .post .post-header .post-header-text-wrapper .post-description {
                color: #333333;
            }

            .post .post-header .post-header-text-wrapper .post-sig {
                text-align: center;
            }

                post .post-header .post-header-text-wrapper .post-sig .post-author a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }

                    post .post-header .post-header-text-wrapper .post-sig .post-author a:hover {
                        text-decoration: underline;
                    }

    .post .post-content {
        padding: 1em;
        width: 100%;
        margin: 0 auto;
        background-color: #efefef;
    }

    .post .post-content a {
        color: red;
        text-decoration: none;
    }

        .post .post-content a:hover {
            text-decoration: underline;
        }

    .post .post-content pre, .post .post-content code {
        display: block;
        overflow-x: auto;
        width: 100%;
        white-space: pre-wrap;
        font: 100%/1.500 monospace;
        border: 1px solid #999999;
        border-left: 1em solid #999999;
        padding-left: 1em;
        background-color: #eeeeff;
    }

.docs-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.parent-list-item:last-child {
    margin-bottom: 20px;
    /* Prevent the hidden License link from causing a double bottom-border */
    border-bottom: none;
}

#disqus_thread {
    margin: 0 auto;
    margin-top: 2em;
    padding-top: 2em;
    max-width: 1000px;
    border-top: 1px solid #333333;
}

.post .post-header .post-header-text-wrapper,
.post-list,
.post .post-content,
.menu-bar .md-toolbar-tools,
.category-bar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 720px) {
    body {
        font-size: 90%;
    }

    .blog-header {
        font-size: 1em;
    }
}